@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;500&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Prata&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  box-sizing: border-box;
}
.container {
  width: 100%;
  position: relative;

  .header {
    font-family: ubuntu;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    background-color: #141414;
    border-bottom: 1px solid rgba(20, 20, 20, 0.1);
  }

  .footer {
    position: absolute;
    background-color: #141414;
    bottom: 0;
    width: 100%;
    font-family: ubuntu;
  }

  .footer p {
    color: #e8e8e8;
    text-align: center;
    color: #d9ba9f;
  }

  .footer a {
    text-decoration: none;
    color: #d9ba9f;
  }
}

.logo-wrapper {
  margin-left: 10em;
}

.menu {
  margin-right: 10em;
}

.menu ul {
  display: flex;
  align-items: center;
  gap: 1em;
  flex-wrap: nowrap;
  margin: 0;
  padding: 0;
}

.menu ul li {
  margin: 0;
  padding: 0;
}

.menu ul li img {
  margin-top: 5px;
  max-width: 28px;
}

.menu ul li:last-child span {
  margin-left: -0.8em;
  transition: 0.3s;
}

.menu ul li span:hover {
  color: #ffddbf;
}

.menu ul li:nth-child(2) span {
  margin-left: -0.6em;
}

.menu ul li:nth-child(3) span {
  margin: -1em 0;
}

.menu ul li span {
  font-size: 16px;
  color: #d9ba9f;
}

.logo-wrapper img {
  max-width: 180px;
  margin-top: 20px;
  cursor: pointer;
}

.header ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1em;
  list-style: none;
  font-size: 18px;
  margin: 0;
  padding: 0;
}

.header ul li a {
  text-decoration: none;
  color: rgb(45, 45, 45);
  color: #d9ba9f;
  transition: 0.2s;
}

.section-one {
  width: 100%;
  box-sizing: border-box;
  font-family: prata;
  padding: 80px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 2em;
  background-color: #f9f1ec;
}

.section-one h1 {
  line-height: 60px;
  font-size: 52px;
  font-weight: 400;
  color: #141414;
}

.section-one p {
  line-height: 28px;
  font-size: 24px;
  font-style: italic;
  font-weight: 300;
  text-align: left;
  color: #141414;
  font-family: ubuntu;
}

.veretical-text {
  flex: 1 1 10px;
  writing-mode: vertical-rl;
  white-space: nowrap;
  transform: rotate(180deg);
  color: #141414;
}

.veretical-text p {
  font-size: 16px;
  font-family: Open Sans;
  font-weight: 400;
  line-height: 25px;
}

.veretical-text span {
  background-color: #dfba9f;
  height: 100px;
  width: 1px;
  margin-bottom: 1em;
  display: inline-block;
}

.section-one-left {
  display: flex;
  gap: 2em;
  text-align: left;
  flex: 1 1 20%;
}

.section-one-right {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  flex: 1 1 40%;
  box-sizing: border-box;
}

.mobile-image {
  display: none;
}

.section-one-right img {
  max-width: 100%;
}

.section-two {
  padding: 60px 120px 0px 160px;
  background-color: #141414;
  background: linear-gradient(#141414 90%, #ffffff 10%);
}

.section-two .line {
  position: absolute;
  display: inline-block;
  background-color: #dfba9f;
  bottom: 50%;
  height: 3px;
  width: 55px;
  margin-left: 15px;
}

.section-two h1 {
  position: relative;
  font-family: prata;
  color: #dfba9f;
  font-size: 60px;
  font-weight: 500;
  margin-bottom: 0;
}

.section-two p {
  margin-bottom: 5em;
  font-family: prata;
  color: #e8e8e8;
  max-width: 1100px;
  line-height: 1.8em;
  font-size: 18px;
  font-weight: 400;
}

.section-two div.image-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color: #f9f1ec;
  padding: 120px 120px 60px 120px;
}

.make-daily {
  position: relative;
}

.make-daily:hover {
  transform: translateY(-0.5em);
}

.make-wedding {
  position: relative;
}

.make-wedding:hover {
  transform: translateY(-0.5em);
}

.make-event {
  position: relative;
}

.make-event:hover {
  transform: translateY(-0.5em);
}

.make-creative {
  position: relative;
}

.make-creative:hover {
  transform: translateY(-0.5em);
}

.make-daily p {
  background-color: #141414;
  position: absolute;
  color: rgb(255, 255, 255);
  bottom: 0;
  padding: 0;
  margin: 0;
  width: 100%;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.make-daily span {
  color: #d9ba9f;
}

.make-wedding p {
  background-color: #141414;
  position: absolute;
  color: rgb(255, 255, 255);
  bottom: 0;
  padding: 0;
  margin: 0;
  width: 100%;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.make-wedding span {
  color: #d9ba9f;
}

.make-event p {
  background-color: #141414;
  position: absolute;
  color: rgb(255, 255, 255);
  bottom: 0;
  padding: 0;
  margin: 0;
  width: 100%;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.make-event span {
  color: #d9ba9f;
}

.make-creative p {
  background-color: #141414;
  position: absolute;
  color: rgb(255, 255, 255);
  bottom: 0;
  padding: 0;
  margin: 0;
  width: 100%;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.make-creative span {
  color: #d9ba9f;
}

.section-three {
  padding: 60px 120px 60px 160px;
  background-color: #ffffff;
}

.section-prices {
  padding: 60px 120px 60px 160px;
  background-color: #141414;
}

.products {
  display: flex;
  gap: 1em;
  flex-wrap: wrap;
}

.product {
  flex: 1 1 440px;
  border: 1px solid #ffddbf;
  color: #ffddbf;
  font-family: prata;
  border-radius: 10px;
  position: relative;
}

.product img {
  margin: 0 auto;
  display: block;
  max-width: 50px;
}

.price-img {
  margin-bottom: 60px;
  margin-top: 20px;
}

.product h3 {
  font-weight: normal;
  text-align: center;
  color: #f9f1ec;
  color: #ffddbf;
}

.product p {
  color: #ffddbf;
  font-size: 36px;
  margin: 0;
  bottom: 0;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  font-weight: 900;
}

.product ul {
  margin-left: 10px;
  color: #f9f1ec;
  font-family: ubuntu;
  margin-bottom: 60px;
}

.section-three h1 {
  position: relative;
  font-family: prata;
  color: #141414;
  font-size: 60px;
  font-weight: 500;
  margin-bottom: 0.5em;
}

.section-prices h1 {
  position: relative;
  font-family: prata;
  color: #ffddbf;
  font-size: 60px;
  font-weight: 500;
  margin-bottom: 0.5em;
}

.section-three .line {
  position: absolute;
  display: inline-block;
  background-color: #141414;
  bottom: 50%;
  height: 3px;
  width: 55px;
  margin-left: 15px;
}

.section-prices .line {
  position: absolute;
  display: inline-block;
  background-color: #ffddbf;
  bottom: 50%;
  height: 3px;
  width: 55px;
  margin-left: 15px;
}

.my-works-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 2em;
  justify-content: space-between;
}
.my-works-wrapper img {
  flex-grow: 1;
  flex-shrink: 1;
  max-width: 515px;
  max-height: 515px;
}

.my-works-wrapper img:hover {
  transform: scale(1.2);
}

.img-work {
  display: block;
  max-width: 515px;
  max-height: 515px;
  overflow: hidden;
  position: relative;
}

.image-center-text span {
  display: block;
  background-color: #ffffff;
  width: 80%;
  text-align: center;
  box-sizing: border-box;
  margin-left: 10%;
  height: 1px;
  padding: 0;
}

.image-center-text p:first-child {
  padding: 0;
  font-size: 20px;
  font-family: ubuntu;
  color: #de7225;
  text-transform: uppercase;
  font-weight: 700;
}

.image-center-text p:last-child {
  padding: 0;
  font-size: 16px;
  font-family: prata;
  color: #ffffff;
  font-weight: 600;
}

.image-center-text {
  position: absolute;
  top: 85%;
  left: 50%;
  width: 100%;
  text-align: center;
  transform: translate3d(-50%, -50%, 0);
  transition: 0.3;
}

.section-four {
  padding: 60px 120px 0px 160px;
  background-color: #f9f1ec;
  max-width: 100%;
  position: relative;
}

.section-four h1 {
  text-align: center;
  font-family: prata;
  color: #141414;
  font-size: 60px;
  font-weight: 500;
  margin-bottom: 0.5em;
}

.form-wrapper {
  max-width: 780px;
  margin: 0 auto;
  padding: 40px;
  background-color: #f9f1ec;
  position: relative;
}

.contact-form {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.contact-address {
  display: flex;
  justify-content: space-between;
  padding: 120px 0;
  width: 100%;
  text-align: center;
  align-items: center;
}

.contact-address p {
  font-family: ubuntu;
  color: #141414;
  font-size: 18px;
  position: relative;
}

.contact-address a {
  text-decoration: none;
  color: #141414;
}

.contact-address p:first-child:before {
  content: url(/assets/img/location.png);
  position: absolute;
  bottom: 22px;
  left: 50%;
  transform: translate(-50%);
}

.contact-address p:nth-child(2):before {
  content: url(/assets/img/instagram.png);

  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translate(-50%);
}

.contact-address p:nth-child(2) {
  margin-right: 22px;
}

.contact-address p:last-child:before {
  content: url(/assets/img/call2.png);
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translate(-50%);
}

.contact-form span {
  color: #d9ba9f;
  font-family: ubuntu;
  background-color: #141414;
  margin-top: 1em;
  padding: 10px 40px;
  font-size: 24px;
  cursor: pointer;
}

.contact-form span:hover {
  color: #de7225;
}

.contact-form input {
  width: 100%;
  padding: 25px 25px;
  box-sizing: border-box;
  border: 1px solid rgba(0, 0, 0, 0.1);
  font-size: 20px;
}

.contact-form input:focus {
  outline: none;
}

input[type="date"] {
  font-size: 20px;
  font-family: ubuntu;
  color: #141414;
  text-transform: uppercase;
}

input {
  font-size: 14px;
  font-family: ubuntu;
}

.custom-input {
  display: flex;
  width: 100%;
  gap: 5px;
}

.custom-input input[type="date"] {
  font-size: 20px;
  padding-left: 20px;
  padding-right: 10px;
  color: #141414;
  flex: 2 1 50%;
  width: 100%;
}

.custom-input input[type="number"] {
  flex: 1 1 15%;
  text-align: center;
  font-size: 20px;
}

.custom-input em {
  background: none;
  font-style: normal;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 20px;
  color: #141414;
  align-self: center;
}

#succes-sent {
  position: absolute;
  display: none;
  margin: 0;
  pad: 0;
  color: green;
  font-weight: bold;
  left: 50%;
  top: 0px;
  text-align: center;
  transform: translate(-50%);
}

#error-sent {
  position: absolute;
  display: none;
  margin: 0;
  pad: 0;
  color: rgb(215, 1, 12);
  font-weight: bold;
  left: 50%;
  top: 0;
  transform: translate(-50%);
}

.mobile-number {
  display: none;
}

@media screen and (max-width: 1860px) {
  .section-one-right img {
    max-width: 360px;
  }

  .desktop-number {
    display: none;
  }

  .mobile-number {
    display: block;
  }

  .section-two img {
    max-width: 240px;
  }

  .section-two div.image-wrapper {
    flex-direction: row;
    padding: 30px 30px 30px 30px;
  }

  .my-works-wrapper img {
    max-width: 390px;
  }

  .img-work {
    max-width: 390px;
    max-height: 390px;
  }
}

@media screen and (max-width: 800px) {
  .menu ul {
    gap: 0.5em;
    flex-wrap: nowrap;
  }

  .menu {
    margin: 0 auto;
  }

  .menu ul li:last-child span {
    display: none;
  }

  #vertical-line {
    display: none;
  }

  #telephone-text {
    display: none;
  }

  .logo-wrapper {
    margin: 0 auto;
    text-align: center;
  }

  .section-one {
    padding: 0 0 25px 0;
    flex-direction: column;
  }
  .section-one h1 {
    line-height: 38px;
    font-size: 30px;
  }
  .section-one p {
    line-height: 20px;
    font-size: 16px;
    text-align: center;
  }

  .veretical-text {
    padding-bottom: 30px;
  }

  .veretical-text p {
    font-size: 8px;
    line-height: 22px;
  }

  .veretical-text span {
    height: 60px;
  }

  .header {
    font-family: ubuntu;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    background-color: #141414;
    border-bottom: 1px solid rgba(20, 20, 20, 0.1);
  }

  .section-one-left {
    display: flex;
    gap: 0.3em;
    padding: 0;
    text-align: center;
    margin-right: 18px;
    box-sizing: border-box;
    flex: 2;
  }

  .desktop-image {
    display: none;
  }

  .section-one-right {
    justify-content: space-evenly;
    gap: 1px;
    width: 100%;
  }

  .section-one-right img {
    max-width: 48%;
    border-radius: 5%;
    padding: 0;
    margin: 0;
  }

  .mobile-image {
    display: inline;
  }

  .section-two {
    padding: 25px 0 25px 0;
    background-color: #141414;
    background: linear-gradient(#141414 90%, #ffffff 10%);
  }

  .section-two h1 {
    line-height: 38px;
    font-size: 30px;
    padding-left: 10px;
  }

  .section-two p {
    line-height: 20px;
    font-size: 10px;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
  }

  .section-two .line {
    bottom: 45%;
    height: 2px;
    width: 20px;
    margin-left: 10px;
    padding-right: 10px;
  }

  .section-two div.image-wrapper {
    padding: 30px 20px 30px 20px;
    gap: 20px;
  }

  .make-daily p {
    background-color: #141414;
    position: absolute;
    color: rgb(255, 255, 255);
    bottom: 0;
    padding: 0;
    margin: 0;
    width: 100%;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 18px;
  }

  .make-wedding p {
    background-color: #141414;
    position: absolute;
    color: rgb(255, 255, 255);
    bottom: 0;
    padding: 0;
    margin: 0;
    width: 100%;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 18px;
  }

  .make-event p {
    background-color: #141414;
    position: absolute;
    color: rgb(255, 255, 255);
    bottom: 0;
    padding: 0;
    margin: 0;
    width: 100%;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 18px;
  }
  .make-creative p {
    background-color: #141414;
    position: absolute;
    color: rgb(255, 255, 255);
    bottom: 0;
    padding: 0;
    margin: 0;
    width: 100%;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 18px;
  }

  .section-three {
    padding: 20px 20px 20px 20px;
  }

  .section-three h1 {
    font-size: 38px;
  }

  .section-prices {
    padding: 20px 20px 20px;
  }

  .section-prices h1 {
    font-size: 38px;
  }

  .my-works-wrapper {
    gap: 1em;
  }

  .section-four {
    padding: 20px 20px 80px 20px;
    background-color: #f9f1ec;
    max-width: 100%;
  }
  .section-four h1 {
    line-height: 38px;
    font-size: 30px;
    padding-left: 10px;
  }

  .form-wrapper {
    max-width: 100%;
    margin: 0 auto;
    padding: 5px;
    background-color: #f9f1ec;
    position: relative;
  }

  .contact-form input {
    width: 100%;
    padding: 25px 25px;
    box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, 0.1);
    font-size: 16px;
  }

  .contact-form span {
    color: #d9ba9f;
    font-family: ubuntu;
    background-color: #141414;
    padding: 10px 36px;
    font-size: 16px;
    cursor: pointer;
  }

  .contact-form input[type="date"] {
    font-size: 10px;
    flex: 1 1 65%;
  }

  .custom-input input[type="number"] {
    flex: 1 1 45%;
    text-align: center;
    font-size: 16px;
  }

  .custom-input em {
    font-size: 12px;
  }
  .footer {
    position: absolute;
    background-color: #141414;
    bottom: 0;
    width: 100%;
    font-family: ubuntu;
  }

  .footer p {
    font-size: 8px;
    color: #d9ba9f;
    text-align: center;
  }

  .footer a {
    text-decoration: none;
    color: #d9ba9f;
  }

  #error-sent {
    position: absolute;
    display: none;
    color: #fff;
    padding: 1px 4px 2px 5px;
    font-weight: normal;
    left: 50%;
    top: -80px;
    font-size: 12px;
    text-align: center;
    transform: translate(-50%);
    font-family: Ubuntu;
    background-color: #f44f57;
  }

  #succes-sent {
    position: absolute;
    display: none;
    color: green;
    padding: 1px 4px 2px 5px;
    font-weight: normal;
    left: 50%;
    top: 420px;
    font-size: 14px;
    text-align: center;
    transform: translate(-50%);
    font-family: Ubuntu;
  }

  .contact-address {
    flex-direction: column;
    gap: 4em;
    padding: 80px 0 0 0;
    width: 100%;
    text-align: center;
    align-items: center;
  }

  .contact-address a {
    text-decoration: none;
    color: #141414;
  }

  .contact-address p:nth-child(2) {
    margin-right: 0;
  }
}
